# SPDX-FileCopyrightText: 2020-2026 Peter Lemenkov <lemenkov@gmail.com>
# SPDX-License-Identifier: CC0-1.0

# Build artifacts
*.d
*.diff
*.o
*.orig
*.patch
*.rej
*.so
*~

# OS files
.DS_Store

# rebar3
_build/
rebar.lock

# Legacy rebar2
.eunit/
.rebar/
deps/
ebin/

# Editor
compile_commands.json
tags
.vscode/
.idea/

# Documentation
docs
