{cover_enabled, true}.

{erl_opts, [warnings_as_errors]}.

{port_specs, [{"priv/mozjs_nif.so", ["c_src/*.cpp"]}]}.

{deps, [
	{mochiweb,".*",{git,"https://github.com/mochi/mochiweb.git","master"}}
]}.

{port_env, [
             {"DRV_CFLAGS", "$DRV_CFLAGS `pkg-config mozjs-52 --cflags`"},
             {"DRV_LDFLAGS", "$DRV_LDFLAGS `pkg-config mozjs-52 --libs`"}
            ]}.
